@model TrabajoFinalGrupo6DBP.Models.Medico

@{
    ViewData["Title"] = "Registrar Médico";
}
@section Styles {
    <link rel="stylesheet" href="~/css/RegistrarMedico.css" />
}


<div class="container">
    <h1>Registrar Médico</h1>

    <form asp-action="RegistrarMedico" method="post">
        <label>DNI *</label>
        <input asp-for="DNI_Medico" />

        <label>Nombre Completo  *</label>
        <input asp-for="Nombre_Completo_Medico" />

        <label>Especialidad *</label>
        <select asp-for="Id_Especialidad" asp-items="ViewBag.Especialidades" class="form-control">
        </select>

        <label>Teléfono *</label>
        <input asp-for="Telefono_Medico" />

        <label>Correo *</label>
        <input asp-for="Correo_Medico" type="email" />

        <button type="submit">Guardar</button>
        <a asp-action="ListaMedicos" class="btn-cancelar">Cancelar</a>
    </form>
</div>
